<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/css/home.css">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <!-- <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,600;1,400&display=swap" rel="stylesheet"> -->
    <title>Tanishq-Developer Portfolio</title>

</head>

<body>
    <header>
        <nav>
            <div class="left">

                <div class="text">Tanishq's Portfolio</div>

            </div>
            <div class="right">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/">About</a></li>
                    <li><a href="/">Services</a></li>
                    <li><a href="/">Projects</a></li>
                    <li><a href="/">Contact Me</a></li>
                </ul>
            </div>
            <div class="menu"><i class="fa-solid fa-bars"></i></div>
        </nav>
    </header>
    <main>

        <section class="firstsection">
            <div class="socials">
                <div class="insta"><a href="
                    https://instagram.com/_.heyy.tanishq._?igshid=YTQwZjQ0NmI0OA==" target="_main"> <i
                            class="fa-brands fa-instagram"></i></a>
                </div>
                <div class="whats"><i class="fa-brands fa-whatsapp"></i></div>
                <div class="face"><i class="fa-brands fa-facebook"></i></div>
            </div>
            <div class="leftsection">

                Hi, My name is <span class="purple">Tanishq</span>
                <div>and i am a Passionate</div>
                <span id="element"></span>
                <br>
                <button class="btn">View Resume</button>
            </div>
            <div class="rightsection">
                <img src="header_img.jpg.png" alt="">
                </img>
        </section>
        <hr>
        <div class="secondsection">
            <span class="text-gray"> What I have done so far</span>
            <h1 class="skill" data-aos="zoom-in">Skills Experience</h1>
            <div class="Horirule">
                <div class="vertrule">
                    <img id="logo" src="c.jpg" alt="" data-aos="zoom-out-up">
                    <div class="icon"><i class="fa-solid fa-arrow-down-long"></i></div>
                    <div class="title">
                        C Language
                    </div>
                    <div class="desc">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Et error quisquam ab, eius accusantium
                        hic suscipit non repellat sapiente eos praesentium corporis laborum, repellendus porro deserunt
                        molestias, ex accusamus enim tempora dolore quos natus quaerat quas. Blanditiis, autem voluptas

                    </div>
                </div>
                <div class="vertrule">
                    <img id="logo" src="c++.png" alt="" data-aos="zoom-out-up">
                    <div class="icon"><i class="fa-solid fa-arrow-down-long"></i></div>
                    <div class="title">
                        C++ Language
                    </div>
                    <div class="desc">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Et error quisquam ab, eius accusantium
                        hic suscipit non repellat sapiente eos praesentium corporis laborum, repellendus porro deserunt
                        molestias, ex accusamus enim tempora dolore quos natus quaerat quas. Blanditiis, autem voluptas

                    </div>
                </div>
                <div class="vertrule">
                    <img id="logo" src="java.png" alt="" data-aos="zoom-out-up">
                    <div class="icon"><i class="fa-solid fa-arrow-down-long"></i></div>
                    <div class="title">
                        Java Language
                    </div>
                    <div class="desc">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Et error quisquam ab, eius accusantium
                        hic suscipit non repellat sapiente eos praesentium corporis laborum, repellendus porro deserunt
                        molestias, ex accusamus enim tempora dolore quos natus quaerat quas. Blanditiis, autem voluptas

                    </div>
                </div>
                <div class="vertrule">
                    <img id="logo" src="unity.png" alt="" data-aos="zoom-out-up">
                    <div class="icon"><i class="fa-solid fa-arrow-down-long"></i></div>
                    <div class="title">
                        Unity Developer
                    </div>
                    <div class="desc">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Et error quisquam ab, eius accusantium
                        hic suscipit non repellat sapiente eos praesentium corporis laborum, repellendus porro deserunt
                        molestias, ex accusamus enim tempora dolore quos natus quaerat quas. Blanditiis, autem voluptas
                        earum quod, debitis, quisquam corporis unde commodi consequatur quasi officia impedit.
                    </div>
                </div>
                <div class="vertrule">
                    <img id="logo" src="html.png" alt="" data-aos="zoom-out-up">
                    <div class="icon"><i class="fa-solid fa-arrow-down-long"></i></div>
                    <div class="title">
                        HTML Developer
                    </div>
                    <div class="desc">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Et error quisquam ab, eius accusantium
                        hic suscipit non repellat sapiente eos praesentium corporis laborum, repellendus porro deserunt
                        molestias, ex accusamus enim tempora dolore quos natus quaerat quas. Blanditiis, autem voluptas
                        earum quod, debitis, quisquam corporis unde commodi consequatur quasi officia impedit.
                    </div>
                </div>
                <div class="vertrule">
                    <img id="logo" src="css.png" alt="" data-aos="zoom-out-up">
                    <div class="icon"><i class="fa-solid fa-arrow-down-long"></i></div>
                    <div class="title">
                        CSS Developer
                    </div>
                    <div class="desc">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Et error quisquam ab, eius accusantium
                        hic suscipit non repellat sapiente eos praesentium corporis laborum, repellendus porro deserunt
                        molestias, ex accusamus enim tempora dolore quos natus quaerat quas. Blanditiis, autem voluptas
                        earum quod, debitis, quisquam corporis unde commodi consequatur quasi officia impedit.
                    </div>
                </div>
                <div class="vertrule">
                    <img id="logo" src="js.png" alt="" data-aos="zoom-out-up">
                    <div class="icon"><i class="fa-solid fa-arrow-down-long"></i></div>

                    <div class="title">
                        JavaScript Language
                    </div>
                    <div class="desc">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Et error quisquam ab, eius accusantium
                        hic suscipit non repellat sapiente eos praesentium corporis laborum, repellendus porro deserunt
                        molestias, ex accusamus enim tempora dolore quos natus quaerat quas. Blanditiis, autem voluptas
                        earum quod, debitis, quisquam corporis unde commodi consequatur quasi officia impedit.
                    </div>
                </div>

            </div>
        </div>
        <!-- ----------------------------------------------------------------------------------------------------------------- -->



        <div class="fakesecsec">

            <div class="fakesecsec1">

                <img id="shortlogol" src="c.jpg" alt="">

                <div class="shorttitlel">
                    C&nbsp;Language
                </div>


                <img id="extramar" src="c++.png" alt="">

                <div class="shorttitler ">C++&nbsp;Language
                </div>


            </div>

            <div class="fakesecsec2">
                <img id="shortlogol" src="java.png" alt="">

                <div class="shorttitlel">
                    Java&nbsp;Language
                </div>



                <img id="shortlogor" src="unity.png" alt="">

                <div class="shorttitler">
                    Unity&nbsp;Developer
                </div>
            </div>

            <div class="fakesecsec3">
                <img id="shortlogol" src="html.png" alt="">

                <div class="shorttitlel">
                    HTML&nbsp;Developer
                </div>



                <img id="shortlogor" src="css.png" alt="">

                <div class="shorttitler">
                    CSS&nbsp;Developer
                </div>

            </div>
            <div class="fakesecsec4">
                <img id="javalogor" src="js.png" alt="">

                <div class="javatitler">
                    JavaScript&nbsp;Language
                </div>
            </div>
        </div>


        <!-- ------------------------------------------------------------------------------------------------------------------->



        <!-- ------------------------------------------------------------------------------------------------------------------->
        <!-- Page 3 -->


        <div class="page3">
            <div class="page3head">
                <div class="heading">My Projects</div>
            </div>
            <div class="content">
                <div class="card">
                    <img src="WhatsApp Image 2023-10-01 at 11.30.04 AM.jpeg" alt="" class="card-img">
                    <div class="card-body">
                        <h1 class="title2">HTML CSS JS</h1>
                        <p class="subtitle">Projects</p>
                        <p class="desc2">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Officia,
                            reprehenderit
                            harum. Consectetur aspernatur voluptatibus quo quod eos, distinctio, modi fugit facere quos
                            consequuntur, ab alias!</p>
                        <button class="view">View Project</button>
                    </div>
                </div>
                <div class="card">
                    <img src="WhatsApp Image 2023-10-01 at 11.30.03 AM.jpeg" alt="" class="card-img">
                    <div class="card-body">
                        <h1 class="title2">UNITY DEVELOPER</h1>
                        <p class="subtitle">Projects</p>
                        <p class="desc2">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Officia,
                            reprehenderit
                            harum. Consectetur aspernatur voluptatibus quo quod eos, distinctio, modi fugit facere quos
                            consequuntur, ab alias!</p>
                        <button class="view">View Project</button>
                    </div>
                </div>
                <div class="card">
                    <img src="WhatsApp Image 2023-10-01 at 11.30.04 AM (2).jpeg" alt="" class="card-img">
                    <div class="card-body">
                        <h1 class="title2">JAVA</h1>
                        <p class="subtitle">Projects</p>
                        <p class="desc2">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Officia,
                            reprehenderit
                            harum. Consectetur aspernatur voluptatibus quo quod eos, distinctio, modi fugit facere quos
                            consequuntur, ab alias!</p>
                        <button class="view">View Project</button>
                    </div>
                </div>
            </div>
        </div>



























    </main>
    <!-- Page 3 -->
    <footer>
        <div class="footer" data-aos="fade-in">
            <div class="footer1">Tanishq Developer Portfolio</div>
            <div class="footer2">
                <li><a href="/">Home</a></li>
                <li><a href="/">About</a></li>
                <li><a href="/">Services</a></li>
                <li><a href="/">Projects</a></li>
                <li><a href="/">Contact Me</a></li>
            </div>
            <div class="footer3">
                <li><a href="/">Home</a></li>
                <li><a href="/">About</a></li>
                <li><a href="/">Services</a></li>
                <li><a href="/">Projects</a></li>
                <li><a href="/">Contact Me</a></li>
            </div>
            <div class="footer4">
                <li><a href="/">Home</a></li>
                <li><a href="/">About</a></li>
                <li><a href="/">Services</a></li>
                <li><a href="/">Projects</a></li>
                <li><a href="/">Contact Me</a></li>
            </div>
        </div>
    </footer>
    <div class="scrollbutton">
        <i class="fa-solid fa-arrow-up-long" id="scrollicon"></i>
    </div>

    <script src="index.js"></script>
    <script src="https://unpkg.com/typed.js@2.0.16/dist/typed.umd.js"></script>
    <script>
        var typed = new Typed('#element', {
            strings: ['Front end Developer.', 'Unity Developer.', 'Web Developer.', 'Programmer.'],
            typeSpeed: 100,
        });

    </script>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>
</body>

</html>